.green-map {
	width: 100%;
	background: #09c161;
}

.white-map {
	width: 100%;
	background: white;
	display: flex;
	align-items: center;
	justify-content: space-around;
	margin: 10px 0;
}

.phonecard {
	width: 25%;
	color: black;
}

.btn {
	color: white;
	width: 55%;
	background-color: black;
	text-align: center;
	border-radius: 8px;
}

.white-map p {
	white-space: nowrap;
	font-size: 14px;
	font-weight: bolder;
	margin: 6px auto;
}

.white-map .addition {
	white-space: nowrap;
	font-size: 10px;
	margin-bottom: 10px;
}

.travel-container {
	width: 100%;
	
	position: absolute;
}

.intro {
	font-size: 14px;
	margin-top: 20px;
	text-align: center;
}

.time {
	font-weight: lighter;
	height: 16px;
	padding-top: 12px;
	color: gray;
	font-size: 12px;
	text-align: center;
}
@keyframes scaleDraw {
	0%{
		transform: scale(0.8);
	}
	25%{
		transform: scale(1);
	}
50%{
	transform: scale(0.8);
}
75%{
	transform: scale(1);
}
	100%{
		transform: scale(0.8);
	}
}
.GIF {
	width: 170px;
	height: 170px;
	background: url(https://s1.ax1x.com/2022/04/27/LqcEWR.jpg);
	background-size: 170px 170px;
	-webkit-animation-name: scaleDraw;
	-webkit-animation-timing-function: ease-in-out;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-duration: 3s;

	margin: 10px auto;
}
.top-bar{
	z-index:-2;
	height: 16px;
	background: #c7f8c7;
	overflow: hidden;
-moz-border-radius-topright: 16px;
-moz-border-radius-topleft: 16px;

}

.second-text{
	z-index: 10;
	width: 120px;
	color: #09c161;
	font-weight: bold;
	font-size: 0.8em;
	text-align: center;
margin:14px auto;
}
.second-bar{
	overflow: hidden;
	top:-6px;
	left:14%;
	position: absolute;
	width:72%;
	height:38px;
	background: #c7f8c7;
	border-radius: 0 0 21px 21px;
	text-align: center;
	margin:0 auto;
	border: 1px none lightgreen;
	
	-moz-border-radius-bottomleft: 30px;
	-moz-border-radius-bottomright: 30px;
}
.travel-history {
	width: 80%;
	margin: 0 auto;
	font-size: 12px;
	color: gray;
	border-top: 1px solid lightgray;
	padding: 10px 0 14px 0;
	
}

.place {
	color: black;
	font-weight: normal;
}

.information-map {
	overflow: hidden;
	position: relative;
	width: 80%;
	background: white;
	margin: 10px auto;
	border-radius: 16px;
	box-shadow: 0 0 10px 0 gray;
	clip-path: inset(0 round 16px);
}

body {
	width: 100%;
	height: 100%;
	margin: 0;
}




.content-title {
	color: white;
	display: block;
	margin: 0 auto;
	text-align: center;
	padding-top: 26px;
}

.content-title .headline {
	margin-bottom: 14px;
	font-size: 38px;
}


.content-title .slogan {
	font-size: 16px;
	font-weight: normal;
	margin-bottom: 14px;
}

.explain {
	margin: 0 auto;
	width: 80%;
	color: white;
	font-size: 9px;
	font-weight: lighter;
	text-align: center;
}



.divider {
	margin: 16px auto;
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 80%;
}

.service-providers {
	width: 100%;
	height: 20px;
	text-align: center;
	margin-bottom: 26px;
	color: white;
}

.contact {
	font-size: 12px;
	font-weight: lighter;
	color: white;
	text-align: center;
	padding-bottom: 70px;
}

.hr {
	background: white;
	width: 30%;
	height: 1px;
}

.divider span {
	color: white;
	font-size: 12px;
	font-weight: lighter;
}
