body {
    padding: 0;
    margin: 0;
    width: 100%;
}

body .container {
    position: absolute;
    height: 1272px;
    
}



.green-image {
    background: green;
    width: 100%;
    height: 300px;
}

.white-image {
    background: white;
    width: 100%;
    height: 900px;
}

.above-container {
    padding: 0 40px;
    background: white;
    top: 24px;
    margin: 0 auto;
    border-radius: 20px;
    box-shadow: 0 0 6px 0 #e3e2e2;
}

.day {
    font-size: 50px;
    font-weight: 700;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.clock {
    font-size: 70px;
    font-weight: 700;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    padding-bottom: 8px;
}

.time {
    padding-top: 16px;
    height: 160px;
    margin: 0 auto;
}

.nav {
    border-bottom:  solid #f1f0f0;
    
    padding-top: 6px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.nav  {
    text-decoration: none;
    color: dodgerblue;
    font-weight: normal;
    font-size: 18px;
}

.nav-left {
    display: flex;
    align-items: center;
}

.nav-left .name {
    padding-right: 8px;
    font-size: 22px;
    font-weight: 700;
    color: black;
}

.nav-right .text {
    padding: 0 6px;
    color: lightgray;
    width: 8px;
    height: 20px;
    font-size: 14px;
    font-weight: 200;
    margin-top: 6px;
    padding-left: 8px;
}

.nav-right {
    display: flex;
    align-items: center;
}

.info .title {
    display: flex;
    justify-content: center;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 6px;
}

img {
    width: 250px;
    height: 250px;
    display: block;
    margin: 0 auto;
}

.directions p {
    display: flex;
    justify-content: center;
    font-size: 24px;
    font-weight: 700;
    color: gray;
    margin: 4px auto;
}


.route-container {
    border-top: solid #f1f1f1;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.details{
    margin-bottom: 30px;
    text-align: center;
}
.route-container .text {
    font-weight: 550;
    font-size: 22px;
    margin-bottom: 10px;
}

.route-card {
    height: 70px;
}

.route-card p {
    margin: 12px 0;
}

.route-container .btn {
    color: white;
    font-size: 18px;
    background: #0486fc;
    padding: 6px 16px;
    height: 30px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    white-space: nowrap;
    align-items: center;
}

.link-container {
    padding-top: 492px;
    width: 400px;
    margin: 0 auto;
    
}

.link-container a {
    font-size: 18px;
    font-weight: normal;
    
    text-decoration: none;
    color: dodgerblue;
}

.link-container p {
    display: block;
    text-align: center;
    margin: 14px 0;
}

.link-container .link-list {
    display: flex;
    justify-content: space-between;
}

.link-list .content {
    padding: 0 6px;
    color: lightgray;
    width: 8px;
    height: 20px;
    font-size: 14px;
    font-weight: 200;
    margin-top: 4px;
    padding-left: 8px;
}

.health-btn {
    border-radius: 32px;
    background: #1591fb;
    width: 440px;
    height: 68px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 23px;
    color: white;
    font-weight: bolder;
    margin: 20px auto;
}

footer {
    height: 200px;
    width: 380px;
    padding-top: 20px;
    margin: 0 auto;
    text-align: center;
    
}

footer div {
    font-size: 19px;
    font-weight: normal;
    color: black;
}

footer p {
    font-size: 17px;
    
    margin: 0 0;
    padding: 0 0;
    color: gray;
}

.connect {
    margin: 18px 0;
}

footer .lang {
    font-size: 17px;
    margin: 0 0;
    padding: 14px 0;
    display: inline-block;
}

footer .lang .chinese {
    color: black;
    font-weight: 550;
}

footer .lang .English {
    color: gray;
}

